.home{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.76),
    rgba(0, 0, 0, 0.945)),url(../../../public/homebg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.583);
}